{% extends "menu/main.html" %}
{% block content %}

<div>
    <h3>{{room.name}}</h3>
    <p>{{room.text}}</p>
</div>
<a href="{% url "home" %}">
    BACK
    
</a>

<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="text">
    <br>
    <input type="submit" value="SEND">
</form>

<div>
    <h3>Количество комментариев: {{room.count_comments}}</h3>
</div>
<div>
    {% for comment in room.comments %}
    <div>
        <p>{{ comment.text }}</p>
        <p>{{ comment.created_at }}</p>
    </div>
    <hr>
    {% endfor %}
</div>
{% endblock content %}
