{% extends "menu/main.html" %}
{% block content %}

{% if error %}


<div>
    {{error}}
</div>

{% endif %}


<form action="" method="POST">
    {% csrf_token %}
    <input type="text" name="username"placeholder="username"><br><br>
    <input type="text" name="password" placeholder="password"><br>
    <input type="text" name="confirm" placeholder="confirm password">
    <br>
    <input type="submit" value="SUBMIT">
</form>
<p>УЖЕ ЕСТЬ АККАУНТ? <a href="{% url "login" %}">ВОЙТИ</a></p>

{% endblock content %}
